<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">
        <activity
            android:name=".LogActivity"
            android:exported="false" />
        <activity
            android:name=".MakeAccountActivity"
            android:exported="false" />
        <activity
            android:name=".SeeAccountActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterEndActivity"
            android:exported="false" />
        <activity
            android:name=".SendPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SendEndActivity"
            android:exported="false" />
        <activity
            android:name=".SendCheckWhoActivity"
            android:exported="false" />
        <activity
            android:name=".SendMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".SendActivity"
            android:exported="false" />
        <activity
            android:name=".NormalAccountActivity"
            android:exported="false" />
        <activity
            android:name=".IdentifyActivity"
            android:exported="false" />
        <activity
            android:name=".SelectMethodActivity"
            android:exported="false" />
        <activity
            android:name=".ReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentAbledActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentDisabledActivity"
            android:exported="false" />
        <activity
            android:name=".ChipAlertActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SlashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>