<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MypageAccountListActivity"
            android:exported="false" />
        <activity
            android:name=".RequestViewEndActivity"
            android:exported="false" />
        <activity
            android:name=".PassCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".PassDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PassApplyActivity"
            android:exported="false" />
        <activity
            android:name=".MypageAccessActivity"
            android:exported="false" />
        <activity
            android:name=".MypagePayRequestActivity"
            android:exported="false" />
        <activity
            android:name=".MypageAccountAccessActivity"
            android:exported="false" />
        <activity
            android:name=".MissingListActivity"
            android:exported="false" />
        <activity
            android:name=".MissingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MissingReportActivity"
            android:exported="false" />
        <activity
            android:name=".EasyTransactionListActivity"
            android:exported="false" />
        <activity
            android:name=".InsuranceCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationChipActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationNoseActivity"
            android:exported="false" />
        <activity
            android:name=".AccountListActivity"
            android:exported="false" />
        <activity
            android:name=".ChargeCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".ChargePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ChargePaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ChipAlertActivity"
            android:exported="false" />
        <activity
            android:name=".PetAccountTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".RequestViewActivity"
            android:exported="false" />
        <activity
            android:name=".TransferCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".TransferPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".TransferIdentificationActivity"
            android:exported="false" />
        <activity
            android:name=".TransferPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".TransferTargetActivity"
            android:exported="false" />
        <activity
            android:name=".PayCompleteNegativeActivity"
            android:exported="false" />
        <activity
            android:name=".PayCompletePositiveActivity"
            android:exported="false" />
        <activity
            android:name=".PayRequestActivity"
            android:exported="false" />
        <activity
            android:name=".PayIdentificationActivity"
            android:exported="false" />
        <activity
            android:name=".PayRecognitionChipActivity"
            android:exported="false" />
        <activity
            android:name=".PayRecognitionActivity"
            android:exported="false" />
        <activity
            android:name=".PayMethodActivity"
            android:exported="false" />
        <activity
            android:name=".PayPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PasscodeActivity"
            android:exported="false" />
        <activity
            android:name=".PinLockActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpFinishActivity"
            android:exported="false" />
        <activity
            android:name=".PhoneAuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpInformationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginFaceActivity"
            android:exported="false" />
        <activity
            android:name=".TermsOfServiceActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".TextActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".SplashActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".SplashActivity" -->
        <!-- android:exported="true"> -->
        <activity
            android:name=".TextActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>